<div class="col-md-12 padding ">
    <div class="col-sm-12 ">

        <h4 class="">Mark_{{one.item.index}}</h4>
        <p>{{one.item.text}}</p>
    </div>
    <div class="col-md-3 text-before-select">
        Цена за 1н л.: {{one.priseForOne()}}
    </div>
    <div class="col-md-2">
        <select
                class="form-control"
                name="size-input"
                ng-options="val for (key, val) in one.item.size track by val"
                ng-model="one.selected"
                ng-change="one.setPrice(one.item.index, one.selected)">
        </select>
    </div>

    <div class="col-md-7">
        <button class="btn btn-primary pull-right" ng-click="one.del()">
            Удалить
        </button>
    </div>
</div>
