<ol class="breadcrumb step">
    <li><a ui-sref="main">main</a></li>
    <li class="active">buy</li>
</ol>
<div class="col-sm-12">
    <div class="col-sm-10 col-sm-offset-1 ">
        <buy-items-one
                ng-repeat="item in buy.data"
                item="item"
                del="buy.deleteItem(item)"
                set-price="buy.setPrice"></buy-items-one>

        <div class="col-xs-4 col-xs-offset-8 padding">
            Всего на: {{buy.price | number:2}}
        </div>
    </div>
    <div class="col-xs-12 padding">
        <div class="col-xs-12 col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-2 ">
            <button
                    class=" btn btn-block btn-primary"
                    ng-click="buy.goMain()">
                <H4>Вернуться на главную</H4>


            </button>
        </div>
        <div class="col-xs-12 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-2 ">
            <button
                    class=" btn btn-block btn-primary"
                    ng-click="buy.showModal()">
                <H4>Заказать</H4>
            </button>
        </div>
    </div>
    <order array="buy.priceArray" sum="buy.price"></order>